
.blog-post-form {
  max-width: 600px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.blog-post-form h2 {
  text-align: center;
}

.blog-post-form input[type="text"],
.blog-post-form input[type="url"],
.blog-post-form textarea,
.blog-post-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.blog-post-form input[type="file"] {
  margin: 10px 0;
}

.blog-post-form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blog-post-form button:hover {
  background-color: #218838;
}

.location-box {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #e9f7ff;
  color: #007bff;
  max-width: 400px; /* You can adjust this value as needed */
  text-align: center;
}
